<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Widget\Model\Widget">
        <plugin name="widget_image_media_path_fix" type="Websolute\WidgetImageChooser\Plugin\Widget" sortOrder="1" disabled="false"/>
    </type>
</config>
